<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>

    <link rel="stylesheet" href="./estilos.css" TYPE="text/css">

</head>

<body>
    <header class="container-fluid" id="header">
        <nav id="navbar">
            <div class="container-fluid">

                <ul style="display:flex; flex-direction:row; justify-content:space-around;">
                    <li class="btn-navbar">
                        <a class="link-navbar" href="/api/productos">Administración</a>
                    </li>

                    <li class="btn-navbar">
                        <form method="post" action="/seguir-comprando">
                            <input name="id" value="{{id}}" type="hidden">
                            <button type="submit">Seguir comprando</button>
                        </form>
                    </li>
                    <li class="btn-navbar">
                        <form method="post" action="/api/carrito/confirmar-pedido">
                            <input name="idcarrito" value="{{idcarrito}}" type="hidden">
                            <button type="submit">Confirmar pedido</button>
                        </form>
                    </li>


                    <li class="btn-navbar">
                        <button><a class="link-navbar" style="font-size:1rem;" href="/logout">Cerrar sesión</a></button>
                    </li>
                </ul>

            </div>
        </nav>
    </header>


    <h1 style="color:rgb(57, 4, 90); margin:20px;" id="titulo-carrito">Mi Carrito</h1>
    <table style="margin:20px; background-color:rgb(22, 22, 22); color:white;" height="400px">
        <tr>
            <th rowspan="3" colspan="15">Imagen</th>
            <th rowspan="3" colspan="15">Producto</th>
            <th rowspan="3" colspan="15">Precio</th>
            <th rowspan="3" colspan="15">Cantidad</th>
            <th rowspan="3" colspan="15"></th>
        </tr>
        <tbody id="carrito">
            {{#each productosMap}}
            <tr>
                <td rowspan="1" colspan="10" style="color:green; text-align:center; padding:5px;">
                    <img src="{{this.thumbnail}}" </td>
                <td rowspan="1" colspan="10" style="color:red; font-weight:bold; text-align:left; padding:5px; ">
                    {{this.title}}
                </td>
                <td rowspan="1" colspan="20"
                    style="color:rgb(127, 127, 5); font-weight:bold; text-align:center; padding:5px;">
                    $ {{this.price}}
                </td>
                <td rowspan="1" colspan="20"
                    style="color:rgb(127, 127, 5); font-weight:bold; text-align:center; padding:5px;">
                    {{this.quantity}}
                </td>
                <td rowspan="1" colspan="20"
                    style="color:rgb(127, 127, 5); font-weight:bold; text-align:center; padding:5px;">

                    <form method="delete" action="/api/carrito/productos">
                        <input name="id" value="{{idcarrito}}" type="hidden">
                        <input name="id_prod" value="{{this.id}}" type="hidden">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>


            </tr>
            {{/each}}
        </tbody>
    </table>

</body>

</html>