<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Productos</title>
    <link rel="stylesheet" href="./estilos.css">
</head>

<body>
    <header class="container-fluid" id="header">
        <nav id="navbar">
            <div class="container-fluid">

                <ul style="display:flex; flex-direction:row; justify-content:space-around;">
                    <li class="btn-navbar">
                        <a class="link-navbar" href="/api/productos">Administración</a>
                    </li>

                    <!--
                    <li class="btn-navbar">
                        <form method="post" action="/ir-carrito">
                            <input name="id" value="{{id}}" type="hidden">
                            <button type="submit">Carrito</button>
                        </form>
                        
                    </li>
                    -->


                    <li class="btn-navbar">
                        <button><a class="link-navbar" style="font-size:1rem;" href="/logout">Cerrar sesión</a></button>
                    </li>
                </ul>

            </div>
        </nav>
    </header>



    <div>
        <h2 class="link-navbar" style="margin:20px;">Nuestros productos</h2>

        <form method="post" action="/nuestros-productos">
            <input name="idcarrito" id="idcarrito" value="{{data.id}}" type="hidden">

            {{#each data.todosProd}}
            <div class="card">
                <div class="container-img">
                    <img src="{{this.thumbnail}}" alt="{{this.title}}" class="img-card" />
                </div>
                <div class="container">
                    <h4>{{this.title}}</h4>
                    <h4>$ {{this.price}}</h4>
                </div>
                <div class="container container-btn">


                    <input name="idprod" id="idprod" value="{{this._id}}" type="hidden">


                    <button type="submit" id=""
                        style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
                        Ver detalle
                    </button>
        </form>
    </div>
    </div>
    </div>
    {{/each}}






    <script src="/socket.io/socket.io.js"></script>
    <script src="./index.js"></script>
</body>

</html>